@import "variables";
body {
  margin: 0;
}
.loader-wrapper{
  z-index: 2;
  position: absolute;
  height: 4px;
  width: 100%;
  bottom: 0;
}
.main-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .main-list-wrapper {
    width: 500px;
    height: 650px;
    padding: 0 0 5px 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $bg-color;
    position: relative;
    .search-bar{
      display: flex;
      align-items: center;
      background: $bg-color;
      button{
        margin-right: 5px;
      }
    }
    ul{
      overflow-y: auto;
    }
  }
}